/* purgecss start ignore */
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 2;
	font-size: 20px;
	max-width: 900px;
	margin: auto;
}

* {
	box-sizing: border-box;
}

a {
	border-bottom: 2px solid #0070f3;
	color: #222;
	text-decoration: none;
}

a:hover {
	transition: 10s ease-out;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

ul,
li {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: radnika, sans-serif;
	font-weight: 600;
	line-height: normal;
	margin: 20px 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.9rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin: 25px 0;
}
.container {
	padding: 0 1rem;
}

.date {
	font-style: italic;
	font-size: 16px;
}

a > .btn {
	text-decoration: none;
}
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #333;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

.copyright {
	text-align: center;
}
pre,
code {
	overflow: hidden;
}
/* @media (max-width: 760px)
.blogPost {
    display: block;
    margin-bottom: 1.4rem;
} */

/* purgecss end ignore */
